* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
     --color-yellow: hsl(47, 88%, 63%);
     --color-white: hsl(0, 0%, 100%);
     --color-gray-500: hsl(0, 0%, 42%);
     --color-gray-950: hsl(0, 0%, 7%);
     --color-black: hsl(0, 0%, 0%);
}

body {
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
    background-color: var(--color-yellow);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.card {
    max-width: 24rem;
    width: 100%;
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 0.0625rem solid var(--color-black);
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0 var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    line-height: 1.5;
}

.card:hover {
    transform: translate(-0.25rem, -0.25rem);
    transition: transform 300ms ease;
}

.card .card-image {
    height: 12.5rem;
    width: 100%;
}

.card .card-image img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 0.5rem;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.card .card-content .card-tags {
    list-style: none;
    display: flex;
    gap: 0.7rem;
}

.card .card-content .card-tag {
    background-color: var(--color-yellow);
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 800;
}

.card .card-content .card-date {
    color: var(--color-gray-950);
    font-size: 0.875rem;
    font-weight: 500;
}

.card .card-content .card-title {
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    transition: color 300ms ease;
}

.card .card-content .card-title:hover {
    color: var(--color-yellow);
}

.card .card-content .card-text {
    color: var(--color-gray-500);
    font-weight: 500;
}

.card .card-footer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.card .card-footer .card-author {
    color: var(--color-gray-950);
    font-size: 0.875rem;
    font-weight: 800;
}

.card .card-footer .card-author-image {
    height: 1.875rem;
    width: 1.875rem;
    display: block;
    border-radius: 50%;
}

.attribution {
    width: 100%;
    position: absolute;
    bottom: 0.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.125rem;
    text-align: center;
}

@media (prefers-reduced-motion: reduce) {
    .card:hover {
        transition: none;
        transform: none;
    }
}
